/* Colores */
body {
  background-color: #f0e14a; /* Amarillo  suave */
}

h1 {
  color: #e4a788; /* Naranja  fuerte */
}

#filters {
  background-color: #add8e6; /* azul claro*/
  border: 1px solid #b3e6d1; /* Verde medio */
  border-radius: 10px;
}

/* Fuentes */
h1, #filters input, #filters select {
  font-family: "Roboto Condensed", sans-serif; /* Fuente más acorde */
}

/* Espaciado */
.character-card {
  margin: 15px; /* Mayor espacio */
}

/* Sombras y bordes */
.character-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
  border-radius: 12px;
}

/* Botón */
#load-more-button {
  background-color: #187a55; /* Verde oscuro */
  color: white;
  padding: 10px 20px; /* Mayor relleno */
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
